[submodule "ThirdParty/CImg"]
	path = ThirdParty/CImg
	url = https://github.com/GreycLab/CImg.git
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "ThirdParty/SPIRV-Reflect"]
	path = ThirdParty/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "ThirdParty/NanoRtti"]
	path = ThirdParty/NanoRtti
	url = https://github.com/gongminmin/NanoRtti.git
[submodule "ThirdParty/zlib"]
	path = ThirdParty/zlib
	url = https://github.com/madler/zlib.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/filewatch"]
	path = ThirdParty/filewatch
	url = https://github.com/ThomasMonkman/filewatch.git
[submodule "ThirdParty/cereal"]
	path = ThirdParty/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "ThirdParty/CppDelegates"]
	path = ThirdParty/CppDelegates
	url = https://github.com/simco50/CppDelegates.git
[submodule "ThirdParty/libpng"]
	path = ThirdParty/libpng
	url = https://github.com/pnggroup/libpng.git
